body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(158, 158, 158);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(158, 158, 158);
}
